@mixin button {
  color: white;
  border: 2px solid #34495E;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 15px;
  outline: none;
  background-color: #34495E;
  text-align: center;

  &:hover {
    cursor: pointer;
    transition: 0.3s background-color;
    background-color: rgba(#34495E, 0.8);
  }
}